<div class="container-fluid footer">
	<h3>Useful links</h3>
	<div class="row">
	  <div class="col-md-12">
	    <a href="http://cliffmeyers.com/blog/2013/4/21/code-organization-angularjs-javascript" target="_blank">Code organization |</a>
	    <a href="https://github.com/marcoslin/angularAMD" target="_blank">AngularAMD |</a>
	    <a href="http://tutorialzine.com/2013/08/learn-angularjs-5-examples/" target="_blank">AngularJS tutorial |</a>
	    <a href="http://code.tutsplus.com/tutorials/building-a-web-app-from-scratch-in-angularjs--net-32944" target="_blank">Inspration of this project |</a>
	    <a href="http://joelhooks.com/blog/2013/04/24/modeling-data-and-state-in-your-angularjs-application/" target="_blank">Data modeling |</a>
	    <a href="http://slides.wesalvaro.com/20121113/#/3" target="_blank">Tutorial slideshow |</a>
	    <a href="http://www.nganimate.org/angularjs/tutorial/how-to-make-animations-with-angularjs" target="_blank">Animation tutorial |</a>
	    <a href="http://www.infoq.com/research/top-javascript-mvc-frameworks" target="_blank">Top JavaScript MVC Frameworks |</a>
	    <a href="http://voidcanvas.com/why-angularjs-is-generally-better-than-emberjs-and-backbonejs/" target="_blank">Angular vs Ember vs Backbone</a>
	  </div>
	</div>
</div>
